
  <!-- Start Header-Section -->
  <section class="header-section contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-section pull-left">
            Contact
          </h3>
          <ul class="breadcrumbs custom-list list-inline pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/contact-us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header-Section -->
  
  <!-- Start Contact-Form -->
  <div class="container">
    <div class="contact-box">
      <form action="#" class="contact-form default-form">
        <div class="row">
          <div class="col-md-12">
            <div class="preamble col-md-12">
              <h3>Get in touch</h3>
            </div>
            <span class="select-box" title="hotel-type">
              <select name="hotel-type" data-placeholder="- Select -">
                <option>- Select -</option>
                <option value="1">Topic I</option>
                <option value="2">Topic II</option>
                <option value="3">Topic III</option>
                <option value="3">Topic IV</option>
                <option value="3">Topic V</option>
              </select>
            </span>
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Your Name">
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Your Phone">
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Your Email">
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="Your Subject">
          </div>
          <div class="col-md-12">
            <textarea placeholder="How we can help you"></textarea>
          </div>
          <div class="col-lg-md text-center">
            <button class="btn btn-transparent-white">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End Contact-Form -->
  
  <!-- Start Contact-Map  -->
  <div id="contact-ma">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16098.943749742202!2d11.530807499999995!3d3.8071094000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbc9feb3134f26f9!2sBhent+Ltd!5e1!3m2!1sfr!2scm!4v1481824044929&zoom=21" style="border:0" allowfullscreen="true" frameborder="0" width="2000" height="600"></iframe>
  </div>
  <!-- End Contact-Map -->

  <!-- Start Contact -->
  <section class="contact">
    <div class="container">
      <div class="locations">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="offices">
            <h3 class="title">
              Cameroon Office
            </h3>
            <h5 class="sub-title">Office</h5>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>PO Box. 1452  Odza (Mbog-Abang)</li>    
                  <li>Yaounde Cameroon</li>
                  <li>Bhent's Headquarters</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Phone 1: +237 662-973-406</li>
                  <li>Phone 2: +237 695-953-666</li>
                  <li>Phone 2: +237 695-953-666</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Rue N2 - Odza (Mbog-Abang)</li>
                  <li>Yaounde Cameroon</li>
                  <li>Bhent Ltd</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Email 1: hello@patherms.com</li>
                  <li>Website 1: patherms.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="offices">
            <h3 class="title">
              Yaounde Office
            </h3>
            <h5 class="sub-title">Office</h5>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>PO Box. 1452  Odza (Mbog-Abang)</li>    
                  <li>Yaounde Cameroon</li>
                  <li>Bhent's Headquarters</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Phone 1: +237 662-973-406</li>
                  <li>Phone 2: +237 695-953-666</li>
                  <li>Phone 2: +237 695-953-666</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Rue N2 - Odza (Mbog-Abang)</li>
                  <li>Yaounde Cameroon</li>
                  <li>Bhent Ltd</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Email 1: hello@patherms.com</li>
                  <li>Website 1: patherms.com</li>
                  <li>Website 1: www.example.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->