<!-- Start Header-Section -->
  <section class="header-section contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-section pull-left">
            Our Locations
          </h3>
          <ul class="breadcrumbs custom-list list-inline pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/our-location">Locations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header-Section -->

  <!-- Start Locations -->
  <section class="locations">
        
    <!-- Start Locations-Top -->
    <div class="locations-top">
      <div class="location-map" style="margin-top: 1%; margin-bottom: 2%">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16098.943749742202!2d11.530807499999995!3d3.8071094000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbc9feb3134f26f9!2sBhent+Ltd!5e1!3m2!1sfr!2scm!4v1481824044929&zoom=21" style="border:0" allowfullscreen="true" frameborder="0" width="2000" height="300"></iframe>
      </div>
    
    </div>
    <!-- End Locations-Top -->

    <!-- Start Locations-Bottom -->
    <div class="locations-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="location-single">
              <div class="offices">
                <h3 class="title">
                  Yaounde Office
                </h3>
                <h5 class="sub-title">Office</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>PO Box. 1452  Odza (Mbog-Abang)</li>    
                      <li>Yaounde Cameroon</li>
                      <li>Bhent's Headquarters</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Phone 1: +237 662-973-406</li>
                      <li>Phone 2: +237 695-953-666</li>
                      <li>Phone 2: +237 695-953-666</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Rue N2 - Odza (Mbog-Abang)</li>
                      <li>Yaounde Cameroon</li>
                      <li>Bhent Ltd</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Email 1: hello@patherms.com</li>
                      <li>Website 1: patherms.com</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="location-thumbnail">
              <div class="overlay">
                <!-- <img src="img/locations-thumbnail.jpg" alt="" class="img-responsive"> -->
                <%= image_tag('locations-thumbnail.png', alt: '', class: 'img-responsive') %>
                <div class="overlay-shadow">
                  <div class="overlay-content">
                    <ul class="buttons custom-list list-inline">
                      <li><a href="#" class="btn btn-transparent-white">Call Us</a></li>
                      <li><a href="#" class="btn btn-transparent-white">Mail Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6">
            <div class="location-single">
              <div class="offices">
                <h3 class="title">
                  Yaounde Office
                </h3>
                <h5 class="sub-title">Office</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>PO Box. 1452  Odza (Mbog-Abang)</li>    
                      <li>Yaounde Cameroon</li>
                      <li>Bhent's Headquarters</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Phone 1: +237 662-973-406</li>
                      <li>Phone 2: +237 695-953-666</li>
                      <li>Phone 2: +237 695-953-666</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Rue N2 - Odza (Mbog-Abang)</li>
                      <li>Yaounde Cameroon</li>
                      <li>Bhent Ltd</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <ul class="location-details custom-list">
                      <li>Email 1: edward.bhent@gmail.com</li>
                      <li>Website 1: http://bhent.xyz</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="location-thumbnail">
              <div class="overlay">
                <!-- <img src="img/locations-thumbnail.jpg" alt="" class="img-responsive"> -->
                <%= image_tag('locations-thumbnail.png', alt: '', class: 'img-responsive') %>
                <div class="overlay-shadow">
                  <div class="overlay-content">
                    <ul class="buttons custom-list list-inline">
                      <li><a href="#" class="btn btn-transparent-white">Call Us</a></li>
                      <li><a href="#" class="btn btn-transparent-white">Mail Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Locations-Bottom -->

  </section>
  <!-- End Locations -->
  <!-- our partners-->
  <%= render 'layouts/shared/partners' %>