
  <!-- Start Header-Section -->
  <section class="header-section contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-section pull-left">
            Our Customers
          </h3>
          <ul class="breadcrumbs custom-list list-inline pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/peoples-testimonies">Testimonials</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header-Section -->

  <!-- Start Opinions -->
  <section class="opinions">
    <div class="container">
      <div class="row">
        <div class="preamble col-md-12">
          <h3>Our Satisfied Customers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eius exercitationem ab aspernatur, ratione officia animi. Rerum necessitatibus, culpa. Tenetur incidunt quasi unde libero molestias dicta doloremque, non aliquam ipsam!</p>
        </div>
        <div class="col-md-12">
          <ul class="custom-list customers-list">
            <li class="customer-testimonial">
              <div class="logo">
                <div class="css-table">
                  <div class="css-table-cell">
                    <!-- <img src="img/customer-logo.png" alt=""> -->
                    <%= image_tag('customer-logo.png', alt: '') %>
                  </div>
                </div>
              </div>
              <div class="content customer-testimonial-content">
                <header class="customer-testimonial-header">
                  <h5 class="pull-left name">Name X</h5>
                  <span class="pull-right position">CEO @ Bhent Ltd.</span>
                </header>
                <blockquote>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit ."</blockquote>
              </div>
            </li>
            <li class="customer-testimonial">
              <div class="logo">
                <div class="css-table">
                  <div class="css-table-cell">
                    <!-- <img src="img/customer-logo2.png" alt=""> -->
                    <%= image_tag('customer-logo2.png', alt: '') %>
                  </div>
                </div>
              </div>
              <div class="content customer-testimonial-content">
                <header class="customer-testimonial-header">
                  <h5 class="pull-left name">Name XY</h5>
                  <span class="pull-right position">CEO @ Patherms tech.</span>
                </header>
                <blockquote>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit ."</blockquote>
              </div>
            </li>
            <li class="customer-testimonial">
              <div class="logo">
                <div class="css-table">
                  <div class="css-table-cell">
                    <!-- <img src="img/customer-logo3.png" alt=""> -->
                    <%= image_tag('customer-logo3.png', alt: '') %>
                  </div>
                </div>
              </div>
              <div class="content customer-testimonial-content">
                <header class="customer-testimonial-header">
                  <h5 class="pull-left name">Name YY</h5>
                  <span class="pull-right position">CEO @ Giving Ltd.</span>
                </header>
                <blockquote>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                ."</blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Opinions -->

  <!--partners section-->
  <%= render 'layouts/shared/partners' %>